<div class="card-LE">
  <div class="card-header-LE">Segment Info</div>
  <div class="card-body-LE">
    <!-- Order Type -->
    <div class="form-radio optional">
      <label>
        <input type="radio" name="orderType" [(ngModel)]="orderType" value="Inward" (change)="onOrderTypeChange()" />
        <span>Inward</span>
      </label>
      <label>
        <input type="radio" name="orderType" [(ngModel)]="orderType" value="Outward" (change)="onOrderTypeChange()" />
        <span>Outward</span>
      </label>
    </div>

    <br />

    <!-- SAP Type + Input -->
    <div *ngIf="orderType" class="sap-row" style="display: flex !important;">
      <!-- SAP Radio -->
      <div class="form-radio optional sap-radio">
        <label>
          <input type="radio" [(ngModel)]="sapType" value="SAP" (change)="onSapTypeChange()" />
          <span>With SAP</span>
        </label>
        <label>
          <input type="radio" [(ngModel)]="sapType" value="Non-SAP" (change)="onSapTypeChange()" />
          <span>Without SAP</span>
        </label>
      </div>

      <!-- Input + GET (only for SAP) -->
      <div class="input-row" *ngIf="sapType === 'SAP'">
        <div *ngIf="orderType === 'Inward'" class="input-flex">
          <div class="form-field flex-1">
            <input type="text" name="ponumber" [(ngModel)]="ponumber" placeholder=" "
              (input)="onInputChange('purchase')" />
            <label>PO Number</label>
          </div>
          <button type="button" class="btn-get" (click)="getForm('purchase')"
            [disabled]="!ponumber || ponumber.trim() === ''">
            GET
          </button>
        </div>

        <div *ngIf="orderType === 'Outward'" class="input-flex">
          <div class="form-field flex-1">
            <input type="text" name="invoicenumber" [(ngModel)]="invoicenumber" placeholder=" "
              (input)="onInputChange('invoice')" />
            <label>Invoice Number</label>
          </div>
          <button type="button" class="btn-get" (click)="getForm('invoice')"
            [disabled]="!invoicenumber || invoicenumber.trim() === ''">
            GET
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Form Section -->
  <form class="form-grid" [formGroup]="segmentInfo" *ngIf="showForm">

    <!-- Sales Person -->
    <!-- <div class="form-field">
      <ng-container *ngIf="sapType === 'Non-SAP'; else sapSales">
        <select formControlName="SALES_EMP">
          <option value="">Select Sales Person</option>
          <option *ngFor="let s of supplierList" [value]="s.SUPPLIER_NAME">
            {{ s.SUPPLIER }} - {{ s.SUPPLIER_NAME }}
          </option>
        </select>
      </ng-container>
      <ng-template #sapSales>
        <input type="text" formControlName="SALES_EMP" readonly />
      </ng-template>
      <label>Sales Person</label>
    </div> -->
    <div class="form-field">
      <ng-container *ngIf="sapType === 'Non-SAP'; else sapSales">
        <ng-select [items]="supplierList" bindLabel="SUPPLIER_NAME" bindValue="SUPPLIER_NAME"
          formControlName="SALES_EMP" [searchable]="true" [virtualScroll]="true" placeholder="Select Sales Person"
          class="w-full">
          <ng-template ng-option-tmp let-item="item">
            {{ item.SUPPLIER }} - {{ item.SUPPLIER_NAME }}
          </ng-template>
        </ng-select>
      </ng-container>

      <ng-template #sapSales>
        <input type="text" formControlName="SALES_EMP" readonly />
      </ng-template>

      <label>Sales Person</label>
    </div>

    <!-- Segment -->
    <!-- <div class="form-field">
      <ng-container *ngIf="sapType === 'Non-SAP'; else sapSegment">
        <select formControlName="SEGMENT">
          <option value="">Select Segment</option>
          <option *ngFor="let seg of segmentList" [value]="seg.SEGMENT_DESC">
            {{ seg.SEGMENT }} - {{ seg.SEGMENT_DESC }}
          </option>
        </select>
      </ng-container>
      <ng-template #sapSegment>
        <input type="text" formControlName="SEGMENT" readonly />
      </ng-template>
      <label>Segment</label>
    </div> -->
    <!-- Segment -->
    <div class="form-field">
      <ng-container *ngIf="sapType === 'Non-SAP'; else sapSegment">
        <!-- Dropdown for Non-SAP (F4 search) -->
        <select formControlName="SEGMENT">
          <option value="">Select Segment</option>
          <option *ngFor="let seg of segmentList" [value]="seg.SEGMENT_DESC">
            {{ seg.SEGMENT }} - {{ seg.SEGMENT_DESC }}
          </option>
        </select>
      </ng-container>

      <!-- Input for SAP -->
      <ng-template #sapSegment>
        <input type="text" formControlName="SEGMENT" placeholder=" " />
      </ng-template>

      <label>Segment</label>
    </div>


    <!-- Customer Profile -->
    <div class="form-field">
      <ng-container *ngIf="sapType === 'Non-SAP'; else sapCustProf">
        <select formControlName="CUST_PROF">
          <option value="">Select Customer Profile</option>
          <option *ngFor="let c of custGrpList" [value]="c.CUST_GRP_DESC">
            {{ c.CUST_GRP }} - {{ c.CUST_GRP_DESC }}
          </option>
        </select>
      </ng-container>
      <ng-template #sapCustProf>
        <input type="text" formControlName="CUST_PROF" readonly />
      </ng-template>
      <label>Customer Profile</label>
    </div>

    <!-- Branch -->
    <div class="form-field">
      <ng-container *ngIf="sapType === 'Non-SAP'; else sapBranch">
        <select formControlName="BRANCH" (change)="fetchzonechange()">
          <option value="">Select Branch (State)</option>
          <option *ngFor="let b of branchList" [value]="b.BRANCH_DESC">
            {{ b.BRANCH_DESC }}
          </option>
        </select>
      </ng-container>
      <ng-template #sapBranch>
        <input type="text" formControlName="BRANCH" readonly />
      </ng-template>
      <label>Branch</label>
    </div>

    <!-- Branch Zone -->
    <div class="form-field">
      <input type="text" formControlName="BRANCH_ZONE" placeholder=" " readonly />
      <label>Branch Zone</label>
    </div>

    <!-- TAT Days -->
    <div class="form-field">
      <input type="text" formControlName="TAT_DAYS" placeholder=" " readonly />
      <label>TAT (Days)</label>
    </div>

    <!-- ETA -->
    <div class="form-field">
      <input type="text" formControlName="ETA_DATE" placeholder="" />
      <label>ETA</label>
    </div>

  </form>

  <!-- Save Button -->
  <div class="text-right" *ngIf="showForm">
    <button type="submit" class="btn btn-md btn-raised btnSave" (click)="savePlan()" [disabled]="isSubmitting">
      Save
    </button>
  </div>
</div>