<div class="card-LE">
  <div class="card-header-LE header-flex">

    <!-- Left Title -->
    <div class="header-title">
      Shipment Details
    </div>

    <!-- Right Actions -->
    <div class="header-actions">

      <!-- Creation -->
      <button class="header-icon" [class.active]="mainMode === 'creation'"
            (click)="mainMode='creation'; onMainModeChange()" title="Creation">
        <i class="fa fa-plus"></i>
      </button>

      <!-- Filter -->
      <button class="header-icon" [class.active]="mainMode === 'filter'"
            (click)="mainMode='filter'; onMainModeChange()" title="Filter & Download. Filter records by date, plant, division and export to Excel">
        <i class="fa fa-file-download"></i>
      </button>

      <!-- Download -->
      <!-- <button class="header-icon" 
            (click)="downloadExcel()" 
            title="Download">
      <i class="fa fa-file-download"></i>
    </button> -->

      <!-- Refresh -->
      <button class="header-icon refresh-btn" (click)="refreshScreen()" title="Refresh">
        <i class="fas fa-sync-alt"></i>
      </button>

    </div>
  </div>


  <div class="card-body-LE">

    <!-- <div class="Creation-radio">
      <label>
        <input type="radio" name="mainMode" [(ngModel)]="mainMode" value="creation" (change)="onMainModeChange()" />
        <div class="icon">
          <i class="fa fa-plus"></i>
        </div>
        <div class="text-content">
          <span class="title">Creation</span>
          <span class="description">Create new Shipment Details entries for inward or outward logistics</span>
        </div>
      </label>

      <label>
        <input type="radio" name="mainMode" [(ngModel)]="mainMode" value="filter" (change)="onMainModeChange()" />
        <div class="icon" style="border-radius: 8px">
          <i class="fa fa-file-download"></i>

        </div>
        <div class="text-content">
          <span class="title">Filter & Download</span>
          <span class="description">Filter records by date, plant, division and export to Excel</span>
        </div>
      </label>
    </div>

    <div class="text-right" style="margin-top: 10px;">
      <button class="btn btn-md btn-raised btn-refresh" (click)="refreshScreen()">
        <i class="fas fa-sync-alt"></i> Refresh
      </button>
    </div> -->

    <br />
    <div *ngIf="mainMode === 'creation'">
      <!-- Order Type -->
      <div class="form-radio optional">
        <!-- <label>
          <input type="radio" name="orderType" [(ngModel)]="orderType" value="Inward" (change)="onOrderTypeChange()" />
          <span>Inward</span>
        </label> -->
        <label>
          <input type="radio" name="orderType" [(ngModel)]="orderType" value="Outward" (change)="onOrderTypeChange()" />
          <span>Outward</span>
        </label>
      </div>
      <br />

      <!-- SAP Selection -->
      <div *ngIf="orderType" class="sap-row">
        <div class="form-radio optional sap-radio">
          <label>
            <input type="radio" [(ngModel)]="sapType" value="SAP" (change)="onSapTypeSelection()" />
            <span>With SAP</span>
          </label>
          <label>
            <input type="radio" [(ngModel)]="sapType" value="Non-SAP" (change)="onSapTypeSelection()" />
            <span>Without SAP</span>
          </label>
        </div>

        <!-- PENDING & COMPLETED COUNTS (Only for Outward) -->
        <div *ngIf="orderType === 'Outward' && sapType" class="status-counts-container">
          <div class="pending-box">
            <i class="fas fa-clock"></i>
            <span class="count-text">Pending: {{ pendingCount }}</span>
          </div>

          <div class="completed-box">
            <i class="fas fa-check-circle"></i>
            <span class="count-text">Completed: {{ completedCount }}</span>
          </div>
        </div>
      </div>

      <!-- Input Section -->
      <div class="input-row" *ngIf="sapType">

        <!-- INWARD -->
        <div *ngIf="orderType === 'Inward'" class="input-flex">
          <div class="form-field flex-1">
            <input type="text" name="ponumber" [(ngModel)]="ponumber" placeholder=" "
              (input)="onInputChange('purchase')" />
            <label>PO Number</label>
          </div>

          <button type="button" class="btn-get" (click)="getForm('purchase')"
            [disabled]="!ponumber || ponumber.trim()==''">
            GET
          </button>
        </div>

        <!-- OUTWARD -->
        <div *ngIf="orderType === 'Outward'">

          <!-- Reference Table (with FormArray) -->
          <form [formGroup]="ProductInfo">
            <div id="refTable" class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Sl.No</th>
                    <th>Map ID</th>
                    <th>Reference Number</th>
                    <th>Work Order Number</th>
                    <th>LR Number</th>
                    <th>Transporter</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody formArrayName="referenceItems">
                  <tr *ngFor="let item of referenceItems.controls; let i = index" [formGroupName]="i">
                    <td>
                      <input type="checkbox" (change)="onCheckboxChange($event, i)" [checked]="isItemSelected(i)" />
                    </td>
                    <td>{{ i + 1 }}</td>

                    <td>
                      <input type="text" formControlName="MAPID" class="width-le" placeholder="Enter Map ID" readonly>
                    </td>

                    <td>
                      <input type="text" formControlName="referenceNumber" class="width-le" placeholder="Enter Ref. No."
                        (blur)="onFieldBlur(i, 'REF_NO')" (keydown.enter)="onFieldBlur(i, 'REF_NO')"
                        (keydown.tab)="onFieldBlur(i, 'REF_NO')" [readonly]="i !== 0" />
                    </td>

                    <td>
                      <input type="text" formControlName="workOrderNumber" class="width-le"
                        placeholder="Enter Work Order No." (blur)="onFieldBlur(i, 'WORK_ORDER_NO')"
                        (keydown.enter)="onFieldBlur(i, 'WORK_ORDER_NO')"
                        (keydown.tab)="onFieldBlur(i, 'WORK_ORDER_NO')" [readonly]="i !== 0" />
                    </td>

                    <td>
                      <input type="text" formControlName="lrNumber" class="width-le" placeholder="Enter LR No."
                        (blur)="onFieldBlur(i, 'LR_NO')" (keydown.enter)="onFieldBlur(i, 'LR_NO')"
                        (keydown.tab)="onFieldBlur(i, 'LR_NO')" [readonly]="i !== 0" />
                    </td>

                    <td>
                      <input type="text" formControlName="transporter" placeholder="Enter Transporter"
                        (blur)="onFieldBlur(i, 'TRANSPORTER')" (keydown.enter)="onFieldBlur(i, 'TRANSPORTER')"
                        (keydown.tab)="onFieldBlur(i, 'TRANSPORTER')" [readonly]="i !== 0" />
                    </td>

                    <td>
                      <button type="button" class="btn-remove-LR" (click)="removeReferenceRow(i)"
                        *ngIf="referenceItems.length > 1">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>

          <!-- SAP → Invoice + Search -->
          <div class="input-row input-flex" *ngIf="sapType === 'SAP'">
            <div class="form-field flex-1">
              <select class="form-control" name="invoicenumber" [(ngModel)]="invoicenumber"
                (change)="onInputChange('invoice')">

                <option value="" disabled selected>Select Invoice</option>

                <option *ngFor="let inv of invoiceF4List" [value]="inv">
                  {{ inv }}
                </option>

              </select>
              <label>Invoice Number</label>
            </div>

            <button type="button" class="btn-get" (click)="getForm('invoice')"
              [disabled]="!invoicenumber || invoicenumber.trim()==''">
              GET
            </button>

            <!-- Global Search Bar for SAP -->
            <div class="search-bar-wrapper-global">
              <div class="search-container">
                <div class="search-box">
                  <select class="search-type-select" [(ngModel)]="selectedType" name="searchType"
                    (change)="onSearchTypeChange()">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let opt of searchOptions" [value]="opt.key">{{ opt.label }}</option>
                  </select>

                  <input type="text" class="search-input" placeholder="Enter Reference / Invoice / ODN / SO Number"
                    [(ngModel)]="searchReference" name="searchReference" (keyup.enter)="onSearchReference()" />

                  <button type="button" class="search-btn-global" (click)="onSearchReference()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Non-SAP Only Search -->
          <div class="input-row input-flex" *ngIf="sapType === 'Non-SAP'">
            <div class="search-bar-wrapper-global">
              <div class="search-container">
                <div class="search-box">
                  <select class="search-type-select" [(ngModel)]="selectedType" name="searchType"
                    (change)="onSearchTypeChange()">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let opt of searchOptions" [value]="opt.key">{{ opt.label }}</option>
                  </select>

                  <input type="text" class="search-input" placeholder="Enter Reference / Invoice / ODN / SO Number"
                    [(ngModel)]="searchReference" name="searchReference" (keyup.enter)="onSearchReference()" />

                  <button type="button" class="search-btn-global" (click)="onSearchReference()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>




            </div>

          </div>
        </div>


        <!-- COMMON FIELDS + PRODUCT TABLE -->
        <div *ngIf="showForm">

          <!-- COMMON FIELDS -->
          <div class="form-grid" style="margin-bottom: 5px;margin-top: 20px;" [formGroup]="ProductInfo">
            <!-- Incoterms -->
            <div class="form-field">
              <ng-container *ngIf="!isSap(); else incSap">
                <select formControlName="ZINCO">
                  <option value="">Select Incoterm</option>
                  <option *ngFor="let i of IncotermsList" [value]="i.INCO1">
                    {{ i.INCO1 }} - {{ i.BEZEI }}
                  </option>
                </select>
              </ng-container>

              <ng-template #incSap>
                <input type="text" formControlName="ZINCO" readonly />
              </ng-template>

              <label>Incoterms</label>
            </div>

            <!-- Insurance Scope -->
            <div class="form-field">
              <select formControlName="ZINS_SCPOE">
                <option value="">Select Insurance Scope</option>
                <option *ngFor="let option of insuranceScopeOptions" [value]="option">
                  {{ option }}
                </option>
              </select>
              <label>Insurance Scope</label>
            </div>

            <!-- Kilometres -->
            <div class="form-field">
              <input type="number" formControlName="ZKM" min="0" placeholder=" " />
              <label>Kilometres</label>
            </div>
            <div class="form-field" *ngIf="sapType === 'Non-SAP'">
              <select class="form-control" formControlName="VBELN">
                <option value="" disabled>Select DC Reference</option>

                <option *ngFor="let inv of invoiceF4List" [value]="inv">
                  {{ inv }}
                </option>
              </select>

              <label>DC Reference Number</label>
            </div>

          </div>

          <!-- PRODUCT TABLE -->
          <div class="table-responsive">

            <form [formGroup]="ProductInfo">
              <table class="table table-bordered">

                <thead>
                  <tr>
                    <th><input type="checkbox" (change)="toggleAllSelection($event)" [checked]="isAllSelected" /></th>
                    <th>SI.No.</th>
                    <th>Map ID</th>
                    <th>Product</th>
                    <th>Type of Material</th>
                    <th>Material Description</th>
                    <th>No of Sets/No<br>
                      (Qty)</th>
                    <th>Ah Loaded</th>
                    <th>Shipment Weight<br>
                      (kg)</th>
                    <th>Battery Condition</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody formArrayName="items">
                  <tr *ngFor="let item of items.controls; index as i" [formGroupName]="i" (click)="onClickRow()">

                    <td><input type="checkbox" formControlName="selected" (change)="onRowCheckboxChange()" /></td>

                    <td>{{ i + 1 }}</td>

                    <td>
                      <select formControlName="ZMAPID" (change)="onchangeMAPID(i)">
                        <option value="">Select</option>
                        <option *ngFor="let option of selectedItems" [value]="option.MAPID">
                          {{ option.MAPID }}
                        </option>
                      </select>
                    </td>

                    <td>
                      <select formControlName="ZPRODUCT">
                        <option value="">Select Product</option>
                        <option *ngFor="let option of productOptions" [value]="option">{{ option }}</option>
                      </select>
                    </td>

                    <td>
                      <select formControlName="MTART">
                        <option value="">Select Type</option>

                        <option value="Batteries">Batteries</option>
                        <option value="Acid">Acid</option>
                        <option value="Electronic Goods">Electronic Goods</option>
                        <option value="Scrap">Scrap</option>
                        <option value="Rack">Rack</option>
                        <option value="Stack Box">Stack Box</option>
                        <option value="Packing material">Packing material</option>
                        <option value="T-CAS">T-CAS</option>
                        <option value="PC Wire">PC Wire</option>
                        <option value="Raw material">Raw material</option>
                        <option value="Contrate Product">Contrate Product</option>

                      </select>
                    </td>

                    <td><input type="text" formControlName="MAKTX" /></td>
                    <td><input type="number" formControlName="ZSETS" min="0" class="width-lg" /></td>

                    <td>
                      <input type="number" formControlName="ZAH" min="0" class="width-lg"
                        *ngIf="item.get('ZPRODUCT')?.value === 'Batteries'" />
                    </td>

                    <td><input type="number" formControlName="ZSHIP_WT" class="width-le" /></td>
                    <td>
                      <select formControlName="ZBATCOND" *ngIf="item.get('ZPRODUCT')?.value === 'Batteries'">
                        <option value="">Select Condition</option>
                        <option *ngFor="let opt of batteryConditionOptions" [value]="opt">
                          {{ opt }}
                        </option>
                      </select>
                    </td>

                    <td class="action-btns">
                      <button type="button" class="btn-add" (click)="addRow()">+</button>
                      <button type="button" class="btn-remove" (click)="removeRow(i)" [disabled]="items.length === 1">
                        ✖
                      </button>
                    </td>

                  </tr>
                </tbody>

              </table>
            </form>

          </div>

          <!-- SAVE BUTTONS -->
          <div class="text-right">
            <button class="btn btn-md btn-raised btnSave" (click)="saveShipmentOutward('stay')">Save</button>
            <button class="btn btn-md btn-raised btnSave move" (click)="saveShipmentOutward('next')">Save and
              Next</button>
            <button class="btn btn-md btn-raised btnSave prev" (click)="saveShipmentOutward('previous')">Save and
              Previous</button>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="mainMode === 'filter'" class="filter-section">

      <!-- SAP Type Selection (Filter Mode) -->
      <div class="filter-sap-row" style="display: flex; margin-bottom: 10px;">
        <div class="form-radio optional sap-radio">
          <label>
            <input type="radio" [(ngModel)]="filterSapType" value="SAP" (change)="onFilterSapTypeChange()" />
            <span>With SAP</span>
          </label>
          <label>
            <input type="radio" [(ngModel)]="filterSapType" value="Non-SAP" (change)="onFilterSapTypeChange()" />
            <span>Without SAP</span>
          </label>
        </div>
      </div>

      <!-- Filter Options Header -->
      <div class="filter-header" *ngIf="filterSapType">
        <i class="fas fa-filter"></i>
        <span>Filter Options</span>
      </div>

      <!-- Filter Form -->
      <div class="card-body-LE" *ngIf="filterSapType">
        <div class="form-grid">

          <!-- From Date -->
          <div class="form-field">
            <input type="date" [(ngModel)]="filterFromDate" />
            <label>From Date</label>
          </div>

          <!-- To Date -->
          <div class="form-field">
            <input type="date" [(ngModel)]="filterToDate" />
            <label>To Date</label>
          </div>

          <div class="form-field">
            <select [(ngModel)]="filterPlant" (change)="onFilterPlantChange()">
              <option value="">Select Plant</option>
              <option *ngFor="let plant of PlantCodeList" [value]="plant.PLANT_TEXT">
                {{ plant.PLANT_TEXT }}
              </option>
            </select>
            <label>Plant</label>
          </div>

          <!-- Division -->
          <div class="form-field">
            <select [(ngModel)]="filterDivision" (change)="onFilterDivisionChange()">
              <option value="">Select Division</option>
              <option *ngFor="let plant of PlantCodeList" [value]="plant.DIVISION">{{ plant.DIVISION }}
              </option>
            </select>
            <label>Division</label>
          </div>

          <!-- Customer -->
          <div class="form-field">
            <select [(ngModel)]="filterTransporter">
              <option value="">Select Transporter</option>
              <option *ngFor="let transporter of VendorCodeList" [value]="transporter.TRANSPORTER">
                {{ transporter.TRANSPORTER }}
              </option>
            </select>
            <label>Transporter</label>
          </div>


          <!-- Vehicle Type -->
          <div class="form-field">
            <select [(ngModel)]="filterVehicleType">
              <option value="">Select Vehicle Type</option>
              <option value="Cargo">Cargo</option>
              <option value="Rate Contract">Rate Contract</option>
              <option value="Local Transportation">Local Transportation</option>
              <option value="Customer Transporter">Customer Transporter</option>
              <option value="Company Vehicle">Company Vehicle</option>
              <option value="Courier">Courier</option>
              <option value="By Hand">By Hand</option>
              <option value="Full Truck Load">Full Truck Load</option>
            </select>
            <label>Vehicle Type</label>
          </div>

          <div class="form-field">
            <select [(ngModel)]="filterStatus">
              <option value="">Select Status Type</option>
              <option value="Pending">Pending</option>
              <option value="Completed">Completed</option>
            </select>
            <label>Status</label>
          </div>
        </div>



        <!-- Action Buttons -->
        <div class="filter-actions">
          <button class="btn btn-apply-filter" (click)="applyFilter()">
            <i class="fas fa-filter"></i> Apply Filter
          </button>
          <!-- <button class="btn btn-clear-filter" (click)="clearFilters()">
            <i class="fas fa-times"></i> Clear Filters
          </button> -->
          <button class="btn btn-download-excel" (click)="downloadExcel()" [disabled]="
            !filterApplied ||
            (filterStatus === 'Completed' && ShipmentData.length === 0) ||
            (filterStatus === 'Pending' && dispatchData.length === 0)
            ">
            <i class="fas fa-file-excel"></i> Download Excel
          </button>

          <button class="btn btn-download-pdf" (click)="downloadPDF()" [disabled]="
            !filterApplied ||
            (filterStatus === 'Completed' && ShipmentData.length === 0) ||
            (filterStatus === 'Pending' && dispatchData.length === 0)
            ">
            <i class="fas fa-file-pdf"></i> Download PDF
          </button>

        </div>
      </div>




    </div>
    <!-- Search Results Table -->
    <div *ngIf="searchOptionsList?.length > 0">
      <div class="table-responsive">
      <table class="table table-bordered table-striped text-center">
        <thead>
          <th>Map ID</th>
          <th>Ref No</th>
          <th>Invoice No</th>
          <th>Line No</th>
          <th>POSNR</th>
          <th>ODN No</th>
          <th>SO No</th>
          <th>Product</th>
          <th>Material Type</th>
          <th>Material Description</th>
          <th>No of Sets</th>
          <th>Ah Loaded</th>
          <th>Shipment Weight</th>
          <th>Battery Condition</th>
          <th>Incoterms</th>
          <th>Insurance Scope</th>
          <th>Kilometres</th>
          <th>Plant</th>
          <th>Division</th>
          <th>Work Order</th>
          <th>LR No</th>
          <th>Transporter</th>
          <th>Created Date</th>
          <th>Vehicle Type</th>
          <th>Action</th>
        </thead>

        <tbody>
          <tr *ngFor="let item of searchOptionsList; let i = index" [class.editing]="item.isEdit">

            <!-- Map ID (readonly) -->
            <td>{{ item.ZMAPID }}</td>

            <!-- Ref No -->

            <td>{{ item.ZREFNO }}</td>

            <!-- Invoice No -->

            <td>{{ item.VBELN }}</td>

            <td>{{ item.ZLINE_NO }}</td>

            <td>{{ item.POSNR }}</td>

            <!-- ODN No -->
            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZODN_NO" type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZODN_NO || '-' }}</span>
            </td>

            <!-- SO No -->
            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZSO_NO" type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZSO_NO || '-' }}</span>
            </td>

            <!-- Product -->

            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZPRODUCT " type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZPRODUCT }}</span>
            </td>



            <!-- Material Type -->

            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.MTART " type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.MTART }}</span>
            </td>


            <!-- Material Description -->


            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.MAKTX " type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.MAKTX }}</span>
            </td>

            <!-- Sets -->
            <td>
              <input *ngIf="item.isEdit" type="number" [(ngModel)]="item.ZSETS"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZSETS }}</span>
            </td>

            <!-- AH -->
            <td>
              <input *ngIf="item.isEdit" type="number" [(ngModel)]="item.ZAH"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZAH }}</span>
            </td>

            <!-- Shipment Weight -->
            <td>
              <input *ngIf="item.isEdit" type="number" [(ngModel)]="item.ZSHIP_WT"
                class="form-control form-control-sm" />
              <span *ngIf="!item.isEdit">{{ item.ZSHIP_WT | number:'1.2-2' }}</span>
            </td>

            <!-- Battery Condition -->
            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZBATCOND" type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZBATCOND || '-' }}</span>
            </td>

            <!-- Incoterms -->
            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZINCO" type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZINCO }}</span>
            </td>

            <!-- Insurance Scope -->
            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZINS_SCPOE" type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZINS_SCPOE }}</span>
            </td>

            <!-- KM -->
            <td>
              <input *ngIf="item.isEdit" type="number" [(ngModel)]="item.ZKM"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZKM }}</span>
            </td>

            <!-- Plant -->

            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZPLANT" type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZPLANT }}</span>
            </td>

            <!-- Division -->

            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZDIVISION" type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZDIVISION }}</span>
            </td>

            <!-- Work Order -->
            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZWORK_ORDER" type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZWORK_ORDER || '-' }}</span>
            </td>

            <!-- LR No -->
            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZLRNO" type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZLRNO || '-' }}</span>
            </td>

            <!-- Transporter -->
            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZTRANSPORTER" type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZTRANSPORTER || '-' }}</span>
            </td>

            <!-- Created Date -->
            <td>{{ item.ZCREATED_DT ? (item.ZCREATED_DT | date:'dd-MM-yyyy') : '-' }}</td>

            <!-- Vehicle Type -->
            <td>
              <input *ngIf="item.isEdit" [(ngModel)]="item.ZVEH_TYPE" type="text"
                class="form-control form-control-sm width-md" />
              <span *ngIf="!item.isEdit">{{ item.ZVEH_TYPE || '-' }}</span>
            </td>

            <!-- ACTIONS -->
            <td>
              <div *ngIf="!item.isEdit" class="btn-group">
                <button class="btn btn-sm btn-primary me-1" (click)="editSearchRow(item)" title="Edit">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteRow(item, i)" title="Delete">
                  <i class="fas fa-trash"></i>
                </button>
              </div>

              <div *ngIf="item.isEdit" class="btn-group">
                <button class="btn btn-sm btn-success me-1" (click)="updateSearchRow(item, i)" title="Update">
                  <i class="fas fa-check"></i>
                </button>
                <button class="btn btn-sm btn-secondary" (click)="cancelSearchEdit(item)" title="Cancel">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>


    <div *ngIf=" filterApplied && filterStatus === 'Completed' && ShipmentData?.length > 0 && mainMode === 'filter'">
      <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
          <thead>
            <tr>
              <th>SI.No</th>
              <th>Map ID</th>
              <th>REFNO</th>
              <th>Invoice No</th>
              <!-- <th>Line No</th> -->
              <th>Odn Number</th>
              <th>SO Number</th>
              <th>Incoterms</th>
              <th>Insurance Scope</th>
              <th>Kilometres</th>
              <th>Product</th>
              <th>Type of Material</th>
              <th>Material Description</th>
              <th>No of Sets/No (Qty)</th>
              <th>Ah Loaded</th>
              <th>Shipment Weight(kg)</th>
              <th>Battery Condition</th>
              <th>Plant</th>
              <th>Division</th>
              <th>Work Order</th>
              <th>LR No</th>
              <th>Transporter</th>
              <th>Created date</th>
              <th>Vehicle Type</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of ShipmentData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.ZMAPID }}</td>
              <td>{{ item.ZREFNO }}</td>
              <td>{{ item.VBELN }}</td>

              <td>{{ item.ZODN_NO }}</td>
              <td>{{ item.ZSO_NO }}</td>
              <td>{{ item.ZINCO }}</td>
              <td>{{ item.ZINS_SCPOE }}</td>
              <td>{{ item.ZKM }}</td>
              <td>{{ item.ZPRODUCT }}</td>
              <td>{{ item.MTART}}</td>
              <td>{{ item.MAKTX }}</td>
              <td>{{ item.ZSETS }}</td>
              <td>{{ item.ZAH }}</td>
              <td>{{ item.ZSHIP_WT }}</td>
              <td>{{ item.ZBATCOND }}</td>
              <td>{{ item.ZPLANT }}</td>
              <td>{{ item.ZDIVISION }}</td>
              <td>{{ item.ZWORK_ORDER }}</td>
              <td>{{ item.ZLRNO }}</td>
              <td>{{ item.ZTRANSPORTER }}</td>
              <td>{{ item.ZCREATED_DT | date:'dd-MM-yyyy' }}</td>
              <td>{{ item.ZVEH_TYPE }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="filterApplied && filterStatus === 'Pending' && dispatchData?.length > 0 && mainMode === 'filter'">
      <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
          <thead>
            <tr>
              <th>SI.No</th>
              <th>Reference No</th>

              <th>Date</th>
              <th>Plant</th>
              <th>Division</th>
              <th>Vehicle Type</th>
              <th>No. of Trucks</th>
              <th>Work Order</th>
              <th>Vendor Code</th>
              <th>Transporter</th>
              <th>No. of LRs</th>
              <th>LR Number</th>
              <th>Loading Point</th>
              <th>Unloading Point</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of dispatchData; let i = index">

              <td>{{ i + 1 }}</td>
              <td>{{ item.ZREFNO }}</td>
              <td>{{ item.ZLINE_NO }}</td>
              <td>{{ item.ZCREATED_DT | date:'dd-MM-yyyy' }}</td>
              <td>{{ item.ZWERKS }}</td>
              <td>{{ item.ZDIVISION }}</td>
              <td>{{ item.ZVEH_TYPE }}</td>
              <td>{{ item.ZNO_TRUCKS }}</td>
              <td>{{ item.ZWORK_ORDER }}</td>
              <td>{{ item.ZVENDOR_CD }}</td>
              <td>{{ item.ZTRANSPORTER }}</td>
              <td>{{ item.ZNO_LRS }}</td>
              <td>{{ item.ZLR_NO }}</td>
              <td>{{ item.ZLOAD_PT }}</td>
              <td>{{ item.ZUNLOAD_PT }}</td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>