<div class="card-LE">
    <div class="card-header-LE">Shipment Details</div>

    <div class="card-body-LE">
        <!-- Order Type -->
        <div class="form-radio optional">
            <label>
                <input type="radio" name="orderType" [(ngModel)]="orderType" value="Inward" (change)="onOrderTypeChange()" />
                <span>Inward</span>
            </label>
            <label>
                <input type="radio" name="orderType" [(ngModel)]="orderType" value="Outward" (change)="onOrderTypeChange()" />
                <span>Outward</span>
            </label>
        </div>

        <br />

        <!-- SAP Type Selection -->
        <div *ngIf="orderType" class="sap-row" style="display: flex !important;">
            <div class="form-radio optional sap-radio">
                <label>
                    <input type="radio" [(ngModel)]="sapType" value="SAP" (change)="onSapTypeSelection()" />
                    <span>With SAP</span>
                </label>
                <label>
                    <input type="radio" [(ngModel)]="sapType" value="Non-SAP" (change)="onSapTypeSelection()" />
                    <span>Without SAP</span>
                </label>
            </div>

            <!-- Input fields for PO / Invoice if With SAP -->
            <div class="input-row" *ngIf="sapType === 'SAP'">
                <div *ngIf="orderType === 'Inward'" class="input-flex">
                    <div class="form-field flex-1">
                        <input type="text" name="ponumber" [(ngModel)]="ponumber" placeholder=" " />
                        <label>PO Number</label>
                    </div>
                    <button type="button" class="btn-get" (click)="fetchInvoiceDetails()"
                        [disabled]="!ponumber || ponumber.trim() === ''">GET</button>
                </div>

                <div *ngIf="orderType === 'Outward'" class="input-flex">
                    <div class="form-field flex-1">
                        <input type="text" name="invoicenumber" [(ngModel)]="invoicenumber" placeholder=" " />
                        <label>Invoice Number</label>
                    </div>
                    <button type="button" class="btn-get" (click)="fetchInvoiceDetails()"
                        [disabled]="!invoicenumber || invoicenumber.trim() === ''">GET</button>
                </div>
            </div>
        </div>

        <!-- Dynamic Product Form -->
        <div *ngIf="showForm" class="table-responsive">
            <form [formGroup]="ProductInfo" class="form-grid">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>SI.No.</th>
                            <th>Product</th>
                            <th>Type of Material</th>
                            <th>Material Description</th>
                            <th>No of Sets/No (Qty)</th>                           
                            <th>Ah Loaded in Truck</th>
                             <th>Shipment Weight(kg)</th>
                            <th>Battery Condition</th>
                            <th>Incoterms</th>
                            <th>Insurance Scope</th>
                             <th>Kilometres</th>                                                                                             
                            <th>Action </th>
                        </tr>
                    </thead>

                    <tbody formArrayName="items">
                        <tr *ngFor="let itemGroup of items.controls; let i = index" [formGroupName]="i">
                            <td>{{ i + 1 }}</td>

                            <td>
                                <select formControlName="Product">
                                    <option value="">Select Product</option>
                                    <option *ngFor="let option of productOptions" [value]="option">{{ option }}</option>
                                </select>
                            </td>

                            
                          <td>
                                <div class="d-flex align-items-center">
                                    <ng-container *ngIf="!isSap(); else sapType">
                                        <div class="input-group">
                                            <select formControlName="TypeOfMaterial" (change)="onTypeOfMaterialChange()">
                                                <option value="">Select Type</option>
                                                <option *ngFor="let m of TypeofmaterialList" [value]="m.MTART">
                                                    {{ m.MTART }} - {{ m.MTBEZ }}
                                                </option>
                                            </select>
                                            <!-- <button type="button" class="btn btn-f4" (click)="openTypeOfMaterialF4(i)">F4</button> -->
                                        </div>
                                    </ng-container>
                                    <ng-template #sapType>
                                        <input type="text" formControlName="TypeOfMaterial" readonly />
                                    </ng-template>
                                </div>
                                <!-- <label>Type of Material</label> -->
                            </td>
                            <!-- <td><input type="text" formControlName="TypeOfMaterial"></td> -->


                            <td><input type="text" formControlName="MaterialDescription"></td>
                            <td><input type="number" formControlName="Noofseats" min="0" /></td>
                            <td>
                                <input
                                    type="number"
                                    formControlName="AhLoadedInTruck"
                                    min="0"
                                    *ngIf="itemGroup.get('Product')?.value === 'Batteries'"
                                    placeholder="Ah Loaded"
                                />
                             </td>
                            <td><input type="number" formControlName="ShipmentWeight"   /></td>

                            <td>
                                <select formControlName="BatteryCondition"
                                    *ngIf="itemGroup.get('Product')?.value === 'Batteries'">
                                    <option value="">Select Condition</option>
                                    <option *ngFor="let option of batteryConditionOptions" [value]="option">{{ option }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <ng-container *ngIf="!isSap(); else sapInco">
                                    <select formControlName="Incoterms">
                                        <option value="">Select Incoterm</option>
                                        <option *ngFor="let i of IncotermsList" [value]="i.INCO1">
                                        {{ i.INCO1 }} - {{ i.BEZEI }}
                                        </option>
                                    </select>
                                    </ng-container>

                                    <ng-template #sapInco>
                                    <input type="text" formControlName="Incoterms" readonly />
                                    </ng-template>
                                </div>
                            </td>

                            

                            <!-- <td><input type="text" formControlName="Incoterms"></td> -->

                            

                            <td>
                                <select formControlName="InsuranceScope">
                                    <option *ngFor="let option of insuranceScopeOptions" [value]="option">{{ option }}
                                    </option>
                                </select>
                            </td>
                            <td><input type="number" formControlName="Kilometres"  min="0" /></td>

                            
                            
                            
                            

                            <td class="d-flex">
                                <button class="form-field" type="button" (click)="addRow()">+</button>
                                <button class="btn-remove" type="button" (click)="removeRow(i)"
                                    [disabled]="items.length === 1">✖</button>
                            </td>
                        </tr>

                        <!-- Save Button -->


                    </tbody>
                </table>
            </form>
        </div>
        <div *ngIf="showForm" class="text-right"> <button type="button" class="btn btn-md btn-raised btnSave"
                (click)="saveShipmentOutward()">Save</button></div>
    </div>
</div>