.navbar-header {
  // background-color: #8f1e42;
  background: linear-gradient(135deg, #8f1e42 0%, #8f1e42 100%) center center / cover !important;

  font-weight: 500;
  font-family: Inter, Roboto, sans-serif;
  letter-spacing: 0.1px;
  /* Examples you tried earlier (uncomment if needed):
  background-image: linear-gradient(to right, #6ba3cd, #031c2e) !important;
  background: url("/assets/images/bg5.jpg") no-repeat center center / cover !important;
  background: radial-gradient(circle, rgba(78,95,95,1) 0%, rgba(47,45,24,0.79) 92%, rgba(184,170,65,1) 100%);
  background: url("/assets/images/Flight38.jpeg") no-repeat center center / cover !important;
  */
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

::ng-deep {
  @media (min-width: 1200px) {
    .modal-xl {
      --bs-modal-width: 1315px !important;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #0d47a1, #1976d2);
  /* modern blue gradient */
  padding: 0 20px;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.brand-text {
  flex: 1;
  text-align: center;
  font-size: 26px;
  /* Bigger for impact */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ffffff;
  position: relative;
  padding-bottom: 8px;
  display: inline-block;

  /* Gradient text effect */
  background-color: white;
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Smooth animation */
  animation: gradientFlow 6s infinite linear;
  letter-spacing: 0.3px;
  font-family: Inter, Roboto, sans-serif;
  position: fixed;
  
  top: 17px;
}


/* Gradient flowing animation */
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Glow pulse effect (optional, can add if you want glow) */
@keyframes glowPulse {
  0% {
    text-shadow: 0 0 8px rgba(255, 81, 47, 0.8),
      0 0 20px rgba(255, 106, 0, 0.6);
  }

  50% {
    text-shadow: 0 0 20px rgba(255, 0, 71, 1),
      0 0 40px rgba(255, 106, 0, 0.8);
  }

  100% {
    text-shadow: 0 0 8px rgba(255, 81, 47, 0.8),
      0 0 20px rgba(255, 106, 0, 0.6);
  }
}