<div class="card-LE">
  <div class="card-header-LE">Vehicle Info</div>

  <div class="card-body-LE">

    <!-- Order Type -->
    <div class="form-radio optional">
      <label>
        <input type="radio" name="orderType" [(ngModel)]="orderType" value="Inward" (change)="onOrderTypeSelection()" />
        <span>Inward</span>
      </label>

      <label>
        <input type="radio" name="orderType" [(ngModel)]="orderType" value="Outward"
          (change)="onOrderTypeSelection()" />
        <span>Outward</span>
      </label>

    </div>

    <br />

    <!-- SAP Type -->
    <div *ngIf="orderType" class="sap-row" style="display: flex !important;">
      <div class="form-radio optional sap-radio">
        <label>
          <input type="radio" [(ngModel)]="sapType" value="SAP" (change)="onSapTypeSelection()" />
          <span>With SAP</span>
        </label>
        <label>
          <input type="radio" [(ngModel)]="sapType" value="Non-SAP" (change)="onSapTypeSelection()" />
          <span>Without SAP</span>
        </label>
      </div>

      <!-- Invoice Input -->
      <div class="input-row" *ngIf="sapType === 'SAP'">
        <div class="input-flex">
          <div class="form-field flex-1">
            <input type="text" name="invoicenumber" [(ngModel)]="invoicenumber" placeholder=" " />
            <label>Invoice Number</label>
          </div>
          <button type="button" class="btn-get" (click)="fetchVehicleDetails()"
            [disabled]="!invoicenumber || invoicenumber.trim() === ''">GET</button>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div *ngIf="showTable" class="table-responsive mt-3">
      <form [formGroup]="VehicleForm">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><input type="checkbox"  (change)="toggleAllSelection($event)"[checked]="isAllSelected"/></th>
              <th>SI.No</th>
              <th>Type of Shipment</th>
              <th>Type of transporter</th>
              <th>LR No</th>
              <th>Type of Vehicle</th>
              <th>Passing Weight</th>
              <th>Volume of Truck</th>
              <th>Vehicle Number</th>
              <th>No of Vehicles</th>
              <th>Driver Name</th>
              <th>Driver Mobile No</th>
              <!-- <th>Transporter group</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody formArrayName="vehicles">
            <tr *ngFor="let group of vehicles.controls; let i = index" [formGroupName]="i">
               <td><input type="checkbox" formControlName="selected"  (change)="onRowCheckboxChange()"></td>
              <td>{{ i + 1 }}</td>
              <td><input type="text" formControlName="ZTRX_TYPE" /></td>
              <td><input type="text" formControlName="ZTRANSPOTER" /></td>
              <td><input type="text" formControlName="ZLRNO" /></td>
              <td><input type="text" formControlName="ZTRUC_TYPE" /></td>
              <td><input type="text" formControlName="ZTRUC_WT" /></td>
              <td><input type="number" formControlName="ZTRUC_VOL" /></td>
              <td><input type="text" formControlName="ZVEH_NUM" /></td>
              <td><input type="number" formControlName="ZNOOFVEH" min="1" /></td>
              <td><input type="text" formControlName="ZDNAME" /></td>
              <td><input type="text" formControlName="ZDNUMBER" /></td>
              <!-- <td><input type="text" formControlName="ZTRANSPOTER" /></td> -->
              <td class="d-flex">
                <button type="button" (click)="addRow()">+</button>
                <button type="button" (click)="removeRow(i)" [disabled]="vehicles.length === 1">✖</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <!-- Save Button -->
    <div *ngIf="showTable" class="text-right">
      <button type="button" class="btn btn-md btn-raised btnSave" (click)="saveVehicleInfo()">Save</button>
    </div>

  </div>
</div>