
.layout {
    display: flex;
}
.form-grid { 
    grid-template-columns: repeat(4, 1fr);  
}

.pe-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
}
 
.pe-card-header {
    background: #f2f2f2;
    padding: 10px 14px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid  #2E86C1;
    color:  #2E86C1;
    margin-bottom: 5px;
}
 
.pe-card-header i,
button i {
    margin-right: 8px;
    vertical-align: middle;
    font-size: 1.2rem;
}
.pe-card-header i {
    color: #800000;
}
 
.pe-card-body {
    padding: 15px;
}
 
input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    margin: 0;
    /* remove extra spacing */
}


 
 
/* =====================
   TABLE
===================== */
table {
    width: 100%;
    border-collapse: collapse;
}
 
th,
td {
    border-bottom: 1px solid #eee;
    padding: 8px;
    text-align: left;
}
 
th {
    background: #fafafa;
    font-weight: 600;
}
 
.highlight {
    background: #fff2f2;
}
 
.success-text {
    color: green;
    font-weight: bold;
}
 
/* =====================
   BUTTONS
===================== */
button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    border-radius: 4px;
}
 
button.primary {
    background: #800000;
    color: #fff;
    border: none;
}
 
button.danger {
    background: #ffe5e5;
    color: #a00000;
    border: 1px solid #a00000;
}
input[type="radio"] {
    accent-color: #800000;
    transform: scale(1.5);
    /* This makes the radio button bigger */
    margin: 0 5px;
    /* Adds a tiny bit of breathing room */
}
 
.button-group {
    display: flex;
    justify-content: flex-end;
    /* Keeps buttons on the right side */
    gap: 15px;
    /* Adds the specific space between the buttons */
}
 

 
.invalid-feedback {
    display: block !important;
    color: #800 !important;
    font-size: 80%;
    margin-top: 0.25rem;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */
.header-flex .left {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* RIGHT SIDE */
.header-flex .right {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* FOCUS EFFECT */
.search-input:focus {
  border-color: #2E86C1;
  box-shadow: 0 0 5px rgba(46, 134, 193, 0.4);
}

.checkbox-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-option input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox-option span {
  font-size: 14px;
}

/* Match exact height of date/text inputs */
.form-field ::ng-deep .ng-select .ng-select-container {
  height: 35px;
}

.btnExecuteReports {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: #2E86C1;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}
 
.btnExecuteReports:hover {
    background-color: white !important;
    color: #2E86C1 !important;
    border: 1px solid #2E86C1 !important;
}
.btnclear {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: #2E86C1;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}
 
.btnclear:hover {
    background-color: white !important;
    color: #2E86C1 !important;
    border: 1px solid #2E86C1 !important;
}





 