<div class="card-LE">
    <div class="card-header-LE">Dispatch</div>
    <div class="card-body-LE">
      <form class="form-grid" [formGroup]="dispatch">   
        <div class="form-field">
          <input type="nunber" formControlName="workorder"  placeholder=" " />
          <label >Workorder</label>
        </div>
 
       
        <div class="form-field ">
          <input type="text" formControlName="VehicleType"  placeholder=" " />
          <label >Vehicle Type</label>
        </div>
 
       
        <div class="form-field">
          <input type="number" formControlName="NoOfTrucks"  placeholder=" " />
          <label>No Of Trucks</label>
        </div>
 
       
        <div class="form-field">
          <input type="text" formControlName="Transporter"  placeholder=" " />
          <label>Transporter</label>
        </div>
        <div class="form-field">
          <input type="number" formControlName="LoadingPoints"  placeholder=" " />
          <label>Loading Points</label>
        </div>
        <div class="form-field">
          <input type="number" formControlName="UnLoadingPoints"  placeholder=" " />
          <label>UnLoading Points</label>
        </div>
 
        <!-- <div class="form-field">
          <select formControlName="DamageRemarks">
            <option value="">Select</option>
            <option value="Packing material damage">Packing material damage</option>
            <option value="Pallet damage">Pallet damage</option>
            <option value="Cells damage">Cells damage</option>
            <option value="Cell Bank damage">Cell Bank damage</option>
            <option value="Can damage">Can damage</option>
            <option value="Accident">Accident</option>
            <option value="Prohibited material loading and seized by Police">
              Prohibited material loading and seized by Police
            </option>
            <option value="Damage during unloading">Damage during unloading</option>
            <option value="Material in wet condition">Material in wet condition</option>
            <option value="Damage due to other Materials loaded">
              Damage due to other Materials loaded
            </option>
          </select>
          </div> -->

        </form>
      <div class="text-right">
          <button type="button" *ngIf="isEditMode" class="btn-secondary" (click)="cancelEdit()">
            Cancel
          </button>
          <button type="submit" class="btn btn-md btn-raised btnSave" (click)="savePlan()">
           Save
          </button>
        </div>
    </div>
  </div>
