<div class="card-LE">
  <div class="card-header-LE">Invoice Load Details</div>
  <div class="card-body-LE">

    <!-- Order Type -->
    <div class="form-radio optional">
      <label>
        <input type="radio" name="orderType" [(ngModel)]="orderType" value="Inward" (change)="onOrderTypeSelection()" />
        <span>Inward</span>
      </label>

      <label>
        <input type="radio" name="orderType" [(ngModel)]="orderType" value="Outward"
          (change)="onOrderTypeSelection()" />
        <span>Outward</span>
      </label>
    </div>

    <br />

    <!-- SAP Type -->
    <div *ngIf="orderType" class="sap-row" style="display: flex !important;">
      <div class="form-radio optional sap-radio">
        <label>
          <input type="radio" [(ngModel)]="sapType" value="SAP" (change)="onSapTypeSelection()" />
          <span>With SAP</span>
        </label>
        <label>
          <input type="radio" [(ngModel)]="sapType" value="Non-SAP" (change)="onSapTypeSelection()" />
          <span>Without SAP</span>
        </label>
      </div>

      <!-- Invoice Number -->
      <div class="input-row" *ngIf="sapType === 'SAP'">
        <div class="input-flex">
          <div class="form-field flex-1">
            <input type="text" name="invoicenumber" [(ngModel)]="invoicenumber" placeholder=" " />
            <label>Invoice Number</label>
          </div>
          <button type="button" class="btn-get" (click)="fetchInvoiceDetails()"
            [disabled]="!invoicenumber || invoicenumber.trim() === ''">GET</button>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div *ngIf="showTable" class="table-responsive mt-3">
      <form [formGroup]="InvoiceForm">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SI.No</th>
              <th>Truck Type</th>
              <th>Passing Weight</th>
              <th>Actual Load (Tons)</th>
              <th>Loading Factor (Weight)</th>
              <th>Actual Volume Occupied</th>
              <th>Loading Factor (Volume)</th>
              <th>Week Wise Shipment Flow</th>
              <th>Eway Bill Number</th>
              <th>Eway Bill Expiry Date</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody formArrayName="invoices">
            <tr *ngFor="let group of invoices.controls; let i = index" [formGroupName]="i">
              <td>{{ i + 1 }}</td>
              <!-- <td><input type="text" formControlName="ZTRUC_TYPE" /></td> -->
              <td>

                <select formControlName="ZTRUC_TYPE" (change)="onTruckTypeChange(i)">
                  <option value="">-- Select Vehicle Type --</option>
                  <option *ngFor="let v of vehicleTypes" [value]="v.ZTRUC_TYPE">
                    {{ v.ZTRUC_TYPE }}
                  </option>
                </select>
              </td>
              <td><input type="number" formControlName="ZPASS_WT" /></td>
              <td><input type="number" formControlName="ZACT_LOAD" /></td>
              <td><input type="text" formControlName="ZACT_VOL" /></td>
              <td><input type="text" formControlName="ZLF_VOL" /></td>
              <td><input type="text" formControlName="ZLF_WT" /></td>
              <td><input type="text" formControlName="ZWEEK_SF" /></td>
              <td><input type="text" formControlName="ZEWAYBILL_NO" /></td>
              <td><input type="date" formControlName="ZEWAYBILL_DT" /></td>

              <td class="d-flex">
                <button type="button" (click)="addRow()">+</button>
                <button type="button" (click)="removeRow(i)" [disabled]="invoices.length === 1">✖</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <!-- Save Button -->
    <div *ngIf="showTable" class="text-right">
      <button class="btn btn-md btn-raised btnSave" (click)="onSave('stay')">Save</button>
    <button class="btn btn-md btn-raised btnSave move" (click)="onSave('next')">Save and Next</button>
    <button class="btn btn-md btn-raised btnSave prev" (click)="onSave('previous')">Save and Previous</button>
    </div>
  </div>
</div>